@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

    --image_bg_color: rgb(51, 51, 51);
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: fonte1;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: min(10vw, 5em);
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px 10vh 30px;
}

section > p{
    white-space: pre-line;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: min(3.5vw, 2em);
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0, 0.514);
}

section#img01{
    background: var(--image_bg_color) url('../imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;

}

section#img02{
    background: var(--image_bg_color) url('../imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.253);
    text-shadow: 1px 1px 0px black;
}

footer{
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: min(2vw, 1em);
}